  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Demand Page coming soon!
    </ngb-alert>
  </div>

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Demand</h1>
    <p class="lead">This will allow user to search for services.</p>
    <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View Services</a>
  </div>
</main>
