<div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Supply Page coming soon!
    </ngb-alert>
</div>

<div class="jumbotron">
<div class="container">
  <ngb-tabset>
    <ngb-tab title="Tab 1">
      <ng-template ngbTabContent>
        <p class="mt-4">Content for tab 1.
          <button type="button" class="btn btn-secondary" placement="bottom" ngbPopover="A popover in tab 1" popoverTitle="Tab One">
            Click me
          </button>
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tab 2">
      <ng-template ngbTabContent>
        <p>Content for tab 2</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tab3">
      <ng-template ngbTabContent>
        <p>Content for tab 3</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</div>